* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* :root {} */

body {
    width: 100%;
}

.about,
.featured-host {

    background-color: #1A0B2E;
}

.choose {
    background-color: #230E3D;
}

.about-us,
.why-choose,
.episodes {
    width: 80%;
    margin: 0px auto;
}

/* Header Section  */

header {
    background-color: rgba(26, 11, 46, 1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 11, 46, 1);
    width: 80%;
    margin: 0px auto;
    padding: 25px auto;
}

ul {
    display: flex;
    gap: 2em;

}

ul li {
    list-style: none;
}

ul a {
    text-decoration: none;
}

li {
    color: #FFFFFF;
}

li:hover {
    color: #1A0B2E;
    background-color: #FFFFFF;
    transition-duration: .5s;
    border-radius: 10%;
}

.logo {
    font-size: 3.75rem;
}

.logo .wht {
    color: #FFFFFF;
}

.logo .clr {
    color: #FB09B4;
}

.btn {
    font-size: 1.25em;
    padding: .80rem 1rem;
    color: #FFFFFF;
    border-radius: 63em;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background: linear-gradient(to right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}

.btn:hover {
    transform: scale(1.04);
    box-shadow: 0 15px 30px rgba(251, 9, 180, 0.4);
    transition-duration: .3s;

}

.hamburger-menu {
    display: none;
}

.btn img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* Hero Section */

.hero {
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 6.2rem;
    margin: 0px auto;
}

.hero-img {
    width: 350px;
    height: 350px;
    position: relative;
}

.hero-img p {
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    position: absolute;
    left: 270px;
    top: 20px;
}

.hero-img p:hover {
    transform: scale(0.96);

}

.hero-img .circle {
    width: 100%;
    height: 100%;
}

.micro {
    position: absolute;
    left: 115px;
    top: 90px;


}

.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-txt h1 {
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.hero-txt p {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.hero-btn {
    display: flex;
    gap: 10px;
}

.btn-2 {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-size: 1em;
    color: rgba(0, 255, 136, 1);
    font-weight: 600;
    padding: 12.5px 21px;
    border: rgba(0, 255, 136, 1) 2px solid;
    border-radius: 63em;
    background-color: transparent;
    cursor: pointer;
}

.btn-2:hover {
    background-position: left;
    transform: translatex(4px);
    transition: transform 0.4s ease;
}

.hero-btn button img {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* About Section */

.about-txt {
    padding: 50px;
    text-align: center;
    color: #FFFFFF;
}

.about-txt h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cards {
    display: flex;
    gap: 5.3rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 6.5rem;
}

.cards span {
    font-size: 2.5rem;
    /* padding-left: 5px; */
}

.card h2 {
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 1rem;
}

.card p {
    color: #FFFFFF;
    line-height: 20px;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(43, 216, 21, 0.3);
    transition: transform 0.4s ease;
}

/* Why Choose TechWave section */
.why-choose {
    padding-top: 6rem;
}

.why-choose h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2rem;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.choose-cards {
    padding: 2.5rem;
    display: grid;
    gap: 1.8rem;
    grid-template-areas:
        "one  two   two"
        "one  three three"
        "four four  five"
    ;

}

.choose-card {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.8rem;
    padding: 2.8rem;
}

.choose-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
}

.choose-card h3 {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1rem;

}

.choose-card p {
    color: #FFFFFF;
    line-height: 1.5rem;
}

.choose-card img {
    transition: transform 0.3s ease;
}

.choose-card:hover img {
    transform: translateY(-6px);
}

/* Featured Episodes section */
.featured {
    padding-top: 6rem;
}

.featured h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2.8rem;
}

.episodes-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    margin-bottom: 7rem;
}
.card-hidden{
    display: none;
}

.epi-card iframe {
    width: 100%;
    height: auto;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.crd-txt {
    padding: 1.5rem;
    background-color: #250D44;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.crd-txt h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: .75rem;
}

.crd-txt p {
    color: #FFFFFF;
    line-height: 1.5rem;
}

.time {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: .75rem;
}

.time img {
    width: 1.25rem;
    height: 1.25rem;
}

.time p {
    color: #00FF88;
    line-height: 1.5rem;
    font-weight: 600;

}

/* Meet the Host section */
.host {
    padding-bottom: 6rem;
}

.host h2 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.8rem;
}

.host-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 2.8rem;
    background-color: #351165;
    border-radius: 2.8rem;

}

.alex h3 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.alex p {
    color: rgba(255, 255, 255, 1);
    line-height: 1.5rem;
    margin-bottom: 1rem;

}

.social {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.social img {
    width: 2.8rem;
    height: 2.8rem;
    padding: .50rem;
    border: 1px #533C72 solid;
    border-radius: 20%;
    background-color: transparent;

}

/* Footer Section */
footer {
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    width: 95%;
    margin: 0px auto;
    text-align: center;

}

.footer h2 {
    padding-top: 6rem;
    margin-bottom: 2rem;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 2.8rem;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.footer-icon img {
    width: 1.5rem;
    height: 1.5rem;
}

.footer-icon p {
    font-weight: 500;
    color: #FFFFFF;
}

.footer-pera {
    color: #FAFAFA;
    padding-bottom: 6rem;
}


/* Responsive For Mobile Devices */

@media screen and (max-width:576px) {

    .menu-item,
    .menu-btn {
        display: none;
    }

    .hamburger-menu {
        display: block;
        font-size: 1.6rem;
        background: none;
        border: none;
        color: #fff;
    }

    .logo {
        font-size: 2.5rem;
    }

    .hero-img {
        width: 17.5em;
        height: 17.5em;
    }

    .hero-img p {
        font-size: 1.1rem;
        left: 80%;
        top: 10%;
    }

    .micro {
        left: 31%;
        top: 17%;
    }

    .about-txt h2 {
        font-size: 2rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .why-choose h2 {
        font-size: 2rem;
    }

    .choose-cards {
        display: grid;
        grid-template-areas:
            "one "
            "two "
            "three "
            "four "
            "five";
    }

    .episodes-card {
        display: flex;
        flex-direction: column;
    }

    .host-details {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .social {
        justify-content: center;
    }


    .why-choose,
    .episodes .nav {
        width: 100%;
    }

    .footer-pera {
        padding-bottom: 2rem;
    }

    .footer-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsive For Tablet Devices */

@media screen and (min-width:576px) and (max-width:980px) {

    .menu-item,
    .menu-btn {
        display: none;
    }

    .hamburger-menu {
        display: block;
        font-size: 1.6rem;
        background: none;
        border: none;
        color: #fff;
    }

    .about-txt h2 {
        font-size: 2rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .why-choose h2 {
        font-size: 2rem;
    }

    .choose-cards {
        display: grid;
        grid-template-areas:
            "one one"
            "two three "
            "four five";
    }

    .episodes-card {
        display: grid;
       grid-template-columns: repeat(2, 1fr);
    }
    .card-hidden{
        display: block;
    }

    .host-details {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .social{
        justify-content: center;
    }

    
    .why-choose,
    .episodes
    .nav {
        width: 100%;
    }
    .footer-pera{
            padding-bottom: 4rem;
    }
    
}