* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* :root {} */

body {
    width: 100%;
}

.about,
.featured-host{
    
    background-color: #1A0B2E;
}
.choose{
    background-color: #230E3D;
}

.about-us, 
.why-choose, 
.episodes{
    width: 80%;
    margin: 0px auto;
}

/* Header Section  */

header {
    background-color: rgba(26, 11, 46, 1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 11, 46, 1);
    width: 80%;
    margin: 0px auto;
    padding: 25px auto;
}

ul {
    display: flex;
    gap: 2em;

}

ul li {
    list-style: none;
}

ul a {
    text-decoration: none;
}

li {
    color: #FFFFFF;
}

.logo {
    font-size: 60px;
}

.logo .wht {
    color: #FFFFFF;
}

.logo .clr {
    color: #FB09B4;
}

.btn {
    font-size: 1.25em;
    padding: 12.5px 16px;
    color: #FFFFFF;
    border-radius: 63em;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background: linear-gradient(to right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}

.btn img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* Hero Section */

.hero {
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 6.2rem;
    margin: 0px auto;
}

.hero-img {
    width: 350px;
    height: 350px;
    position: relative;
}

.hero-img p {
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    position: absolute;
    left: 270px;
    top: 20px;
}

.hero-img .circle {
    width: 100%;
    height: 100%;
}
.micro{
    position: absolute;
    left: 115px;
    top: 90px;


}
.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-txt h1 {
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.hero-txt p {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.hero-btn {
    display: flex;
    gap: 10px;
}

.btn-2 {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-size: 1em;
    color: rgba(0, 255, 136, 1);
    font-weight: 600;
    padding: 12.5px 21px;
    border: rgba(0, 255, 136, 1) 2px solid;
    border-radius: 63em;
    background-color: transparent;
    cursor: pointer;
}

.hero-btn button img {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* About Section */

.about-txt{
    padding: 50px;
    text-align: center;
    color: #FFFFFF;
}
.about-txt h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.cards{
    display: flex;
    gap: 5.3rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 6.5rem;
}
.cards span{
    font-size: 2.5rem;
    /* padding-left: 5px; */
}
.card h2{
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 1rem;
}
.card p{
    color: #FFFFFF;
    line-height: 20px;
}
